<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>431489628922-jh6fmoi9jcgkr625a7ad46rvvba1bmul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431489628922-jh6fmoi9jcgkr625a7ad46rvvba1bmul</string>
	<key>API_KEY</key>
	<string>AIzaSyDV6iS3adhg9LfOaj8M1M5LihSmfbfr-64</string>
	<key>GCM_SENDER_ID</key>
	<string>431489628922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test-app.Test-App</string>
	<key>PROJECT_ID</key>
	<string>app-test-9f496</string>
	<key>STORAGE_BUCKET</key>
	<string>app-test-9f496.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:431489628922:ios:aaaa72e5f11fddf0</string>
	<key>DATABASE_URL</key>
	<string>https://app-test-9f496.firebaseio.com</string>
</dict>
</plist>
